<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" href={% static "bootstrap-3.4.1-dist/css/bootstrap.min.css" %}>
    <script src={% static "js/jquery-3.7.0.min.js" %}></script>
    <script src={% static "bootstrap-3.4.1-dist/js/bootstrap.min.js" %}></script>

</head>
<body>
<p>404 - 抱歉，您访问的资源不存在！</p>
<p>可能是网址有误，或者对应的内容被删除，或者处于私有状态</p>
<p>可以访问更多 <a href="/home/">返回首页</a></p>
</body>
</html>